body {
    display: flex;
    flex-direction: column;
    width: 1020px;
    background: #F2F2F2;
    margin: 20px;
    border: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    width: 1020px;
    height: 89px;
    margin: 0;
    border: 0;
    padding: 0;
    background: #2D303A;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 95px;
        align-items: center;
        
    }
        .logo {
            margin: 0;
            padding-left: 41px;
            padding-bottom: 5px;   
        }
        h1 {
            width: 160px;
            height: 25px;
            font-family: "LatoBold";
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: -0.03em;
            color: #FFFFFF;
            }
        span {
            color: #F06C64;}
        
    .main-nav {
        width: 375px;
        height: 14px;
        margin: 0px;
        font-family: "LatoLight";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        margin-right: 94px;
            color: #ffffff;
            margin-top: 43px;
            }
    
        .navPanel {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        }
        
        .navPanel li {
            margin-left: 14px;
        }

    .border {
        width: 1020px;
        height: 6px;
        background: #323746;
}
    .slide1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1020px;
        height: 600px;
        background: #F06C64;}

        .arrow-left {
            width: 10%;
        }

        .arrow-left a {
            width: 14.08px;
            height: 24.9px;
            background: #E94348;
        }
        .phone-vertical {
            width: 30%;}

        .phone-vertical img {
            width: 240px;
            height: 483px;
            padding-left: 10px;
            padding-bottom: 4px;
        }
        .phone-horizontal {
            width: 50%;
        }

        .phone-horizontal img {
            width: 483px;
            height: 240px;
            padding-left: 17px;
            padding-bottom: 1px;
        }
        .arrow-right {
            width: 10%;}

        a {
            width: 14.08px;
            height: 24.9px;
            background: #E94348;
        }

main {display: flex;
    flex-direction: column;
    
    
}
    .ourServices {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 1020px;
        height: 500px;
        background: #F2F2F2;
        
    }
        .section-header {
            width: 936px;
            height: 47px;
        margin: 62px 44px 0px 40px;}

        .section-header span {
            width: 171px;
            height: 36px;
            font-family: "LatoBold";
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            color: #666D89;}

        .section-header p {
            width: 936px;
            height: 47px;
            
            font-family: "LatoLight";
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #767E9E;}

            main ul {list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
              
                margin-top: 57px;
                padding-top: 54px;
               
            }

            main li {display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                width: 300px;
                height: 104px;
                margin-right: 20px;
                margin-bottom: 20px;
            }
            li img {
                height: 60px;
                width: 60px;             
            }

            .item {
                width: 220px;
                padding-left: 20px;
            }
            

            .item p {
                width: 220px;
                height: 77px;
                margin: 0px;
                padding: 0px;
                font-family: "LatoRegular";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 22px; 
                text-align: justify;
                color: #767E9E;
            }
            .itemName {
                width: 200px;
                height: 20px;
                font-family: "LatoBold";
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.1px;
                margin: 0;
                padding: 0;
                margin-bottom: 8px;
                color: #666D89;
            }
            .item3 .item4 {padding-top: 10px;}

    .portfolio {display: flex;
        flex-direction: column;
        width: 1020px;
        height: 870px;
        background: #2D303A;
        }

        .portfolioHeader {
            margin: 40px 32px 0px 40px;
            padding-top: 19px;
            width: 936px;
            height: 95px;
        }
            .portfolioName {
                margin: 0;
                padding: 0;
                margin-left: 0px;

                width: 130px;
                height: 40px;
                font-family: "LatoBold";
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                line-height: 43px;
                letter-spacing: 0em;
                color: #666D89;
                }

            .portfolioHeader p {
                margin: 0px;
                margin-top: 18px;
                width: 936px;
                height: 46.95px;
                font-family: "LatoLight";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                color: #767E9E;
            }
            .filter-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                margin-bottom: 0px;
                padding: 1px 0px 18px 40px;
                width: 290px;
                height: 22px;
            }
                 .portfolioPages {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
                width: 940px;
                height: 601px;
                margin: 0;
                padding: 0px 34px 42px 39px;
            }
            
                .portfolioPages img {
                    width: 220px;
                    height: 187px;}

                main .border{
                    width: 1020px;
                    height: 6px;
                    background: #323746;
                }
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1020px;
    height: 76px;
    background: #2D303A;
    }
    
    
    .copyright {
        width: 118px;
        height: 17px;
        font-family: "LatoBold";
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 18px;
        padding-top: 20px;
        color: #666D89;
       
        margin-left: 40px;
    }
    .social-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 22px 22px;
        margin-right: 41px;
        width: 152px;
        height: 32px;
    }