body {
    width: 375px;
    height: 812px;
    background: #F2F2F2;
    margin: 20px;
    z-index: 1;
    }
    .menu-bg {
        width: 278px;
        height: 812px;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        z-index: 2;
    }
    .overlay-tint {
        z-index: 2;
        width: 375px;
        height: 812px;
        background: #2D303A;
        opacity: 0.6;
    }
    main {
        width: 375px;
        height: 1309px;
        z-index: 3;
    }
    