body {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 2244px;
    background: #F2F2F2;
    margin: 20px;
    border: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 71px;
    margin: 0;
    border: 0;
    padding: 0;
    background: #2D303A;
    }

    .logo-container {
        display: flex;
        flex-direction: row
        
    }
        .button {
            margin: 0px;
            padding-left: 20px;
            padding-top: 24px;
            width: 26px;
            height: 21px;
            background: #2D303A;
        }

        .logo {
            margin: 0;
            padding-left: 120px;
            padding-top: 0px;
            
        }

        h1 {
            font-family: "LatoLight";
            font-size: 19.6875px;
            line-height: 51px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            }
        h1 span {color: #F06C64;}

    .border {
        width: 375px;
        height: 3.35px;
        background: #323746;
}
    .slide1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 375px;
        height: 220.59px;
        background: #F06C64;}

        .arrow-left {
            width: 10%;
        }

        .arrow-left a {
            width: 14.08px;
            height: 24.9px;
            background: #E94348;
        }
        .phone-vertical {
            width: 30%;}
        .phone-vertical img {
            width: 88.3px;
            height: 177.61px;
            padding-left: 3px;
            padding-bottom: 0px;
        }
        .phone-horizontal {
            width: 50%;
        }

        .phone-horizontal img {
            height: 88.35px;
            width: 177.84px;
            padding-left: 7px;
            padding-top: 1px;
        }
        .arrow-right {
            width: 10%;}

        a {
            width: 14.08px;
            height: 24.9px;
            background: #E94348;
        }

main {display: flex;
    flex-direction: column;
    width: 375px;
    
}
    .ourServices {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 992px;
        padding-top: 25.6px;
        padding-bottom: 15px;
        padding-left: 33px;
        padding-right: 29px;
        width: 314px;
    }
        .section-header span {
            font-family: "LatoBold";
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            margin: 0px;
            letter-spacing: 0.01em;
            line-height: 42px;
            color: #666D89;}

        .section-header p {
            margin-bottom: 0px;
            margin-top: 14px;
            width: 314px;
            height: 237px;
            font-family: "LatoLight";
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px; 
            color: #767E9E;}

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
       }
    li {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        }
    li img {
        width: 60px;
        height: 60px;
    }
    .item {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding-left: 20px;
        width: 220px;
        height: 104px;}

    .itemName {
        margin: 0px;
        width: 160px;
        height: 20px;
        font-family: "LatoBold";
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.0em;
        color: #666D89;
    }
    .item p {
        margin: 0px;
        margin-top: 8px;
        width: 220px;
        height: 77px;
        font-family: "LatoRegular";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
        color: #767E9E;}
    .item1 {
        margin: 0px;
        padding: 0px;
    }
    .item2 {
        padding-top: 16px;       
    }
    .item3 {
        padding-top: 15px;
    }
    .item4 {
        padding-top: 16px;
    }
    .item5 {
        padding-top: 16px;
    }
    .item6 {
       padding-top: 16px;
    }

    .portfolio {display: flex;
        flex-direction: column;
        width: 375px;
        height: 844px;
        background: #2D303A;
        margin: 0;
        padding: 0;}

        .portfolioHeader {
            margin: 38px 30px 10px 30px;
            width: 315px;
            height: 150px;
        }
            .portfolioName {
                margin: 0;
                padding: 0;
                margin-left: 0px;
                width: 315px;
                height: 40px;
                font-family: "LatoBold";
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                letter-spacing: 0.01em;
                color: #666D89;}

            .portfolioHeader p {
                padding-top: 2px;
                width: 315px;
                height: 96px;
                font-family: "LatoRegular";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -0.005em;
                color: #767E9E;
            }
            .filter-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                padding: 4px 55px 25px  30px;
                width: 290px;
                height: 22px;
            }
                 .portfolioPages {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
                height: 100%;
                margin: 0;
                padding: 0px 30px 42px 30px;
            }
            
            .portfolioPages img {
                width: 151px;
                height: 127px;}
footer {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 375px;
    height: 76px;
    background: #2D303A;
    }
    
    .social-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 22px 22px;
        width: 152px;
        height: 32px;
    }
