* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-select, .sound-picker, .player-container {
    height: 80%;
    flex: 1;

}

.time-select {
    background: #4c7fb3;

}
.sound-picker {
    background: rgb(192, 132, 111);

}
.player-container {
    background: rgb(189, 202, 72);
}